<!DOCTYPE html>
<html style="height: 2400px">

{#TODO<title></title>#}


   <head>
       <title>"The Social Web 2020 Group"</title>
       <meta charset="utf-8">
   </head>
   <body style="height: 100%; margin: 0" onresize="resize()">
       <div id="container" style="height: 100%"></div>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>
       <script type = "text/javascript"  src = "{{ url_for('static', filename = './echarts-wordcloud.js') }}" ></script>
       <script type="text/javascript">
           let true_x_axis_data = {{ true_x_axis_data | safe }};
           let true_data_estimation_hillary = {{ true_data_estimation_hillary | safe }};
           let true_data_estimation_trump   = {{ true_data_estimation_trump | safe }};
           let true_data_positive_trump     = {{ true_data_positive_trump | safe }};
           let true_data_neutral_trump      = {{ true_data_neutral_trump | safe }};
           let true_data_negative_trump     = {{ true_data_negative_trump | safe }};
           let true_data_positive_hillary     = {{ true_data_positive_hillary | safe }};
           let true_data_neutral_hillary      = {{ true_data_neutral_hillary | safe }};
           let true_data_negative_hillary     = {{ true_data_negative_hillary | safe }};
           let true_data_heat_trump    = {{ true_data_heat_trump   | safe}};
           let true_data_heat_hillary  = {{ true_data_heat_hillary | safe}};
           let true_data_word_cloud = {{ true_data_word_cloud | safe }};

       </script>
       <script type = "text/javascript"  src = "{{ url_for('static', filename = './echarts-tsw-chart.js') }}" ></script>
   </body>
</html>