.bash_history
.bash_logout
.bashrc
.cache/
.gnupg/
.ijupyter/
.ipynb_checkpoints/
.ipython/
.local/
.idea/*
.idea/*.*
.profile
.idea/workspace.xml
*/__pycache__/*
.idea/Socialweb.iml
.idea/workspace.xml
